html *
{
   
   font-family:  url(https://fonts.googleapis.com/css2?family=Open+Sans) !important;
   background-color: gray;
   
}




#container{
  display: none;
  background-color: #FFFFFF;
}

.heading{
  background-color: #FFFFFF;
  font-size: 3rem;
  color: blue;
  padding: 10px;
}

.card{
  margin: 20px;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
}
.sub_heading{
  background-color: #FFFFFF;
  padding: 5px;
  font-size: 1.5rem;
}
.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid{
  background-color: #FFFFFF;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
 
}



.tile{
  background-color: white;
  margin: 5px;
  height: 30px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 3px 3px #888888;
  font-size: 1rem;
} 

.next, .start{
  background-color: #4caf50 ;
 
  color: #FFFFFF;
  border: none;
}